body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

input {
  width: 100px;
  margin: 0 auto;
}

div#result {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

p {
  margin: 0;
  padding: 0;
  }
